body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 15px;
  margin-top: 700px;
}

#nome {
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #d19b9b;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #a56f6f;
}

#familiaForm label {
  display: block;
  margin: 5px 0;
}

#imagem-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;
}

#scroll-imagens {
  width: 100%;
}

#scroll-imagens img {
  width: 100%;
  height: auto;
  display: block;
}

#voltar-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
}

.botoes-secundarios {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
